@import url('https://fonts.googleapis.com/css2? family= Montserrat & display=swap');
*{
    margin: 0;
    padding: 0;
}

/*pagina curso: Valesca*/
/*Configuração do body e dos containers */

body{
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    font-family: Montserrat;
	flex-direction: column;
    justify-content: space-evenly;  
    background-color: black;

}

::-webkit-scrollbar{
    width: 0.4rem;  
}
::-webkit-scrollbar-thumb{
    background-color: #000000;
    border-radius: 0.3rem;  
}
::-webkit-scrollbar-track{
    background-color: black;
}

/* CSS MVRGA */

.background-home{
    background-color: #000;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    
}




h1{
color: #fff;
margin: 20px 0px 20px;
font-size: 75px;
}

h4{
color: #909090;
letter-spacing: 2px;
font-size: 20px;
}

h3{
color: #fff;
font-size: 25px;
margin-bottom: 50px;
}



.cabecalho{
display: flex;
align-items: center;
justify-content: space-evenly;
flex-wrap: wrap;

}

.logo-home{
display: flex;
color: #fff;
font-size: 35px;
cursor: pointer;
letter-spacing: 1px;

}

span{
color: #29c2de;
}

nav ul  li{
list-style: none;
display: inline-block;
padding: 10px 25px;
}

nav ul li a{
color: #fff;
text-decoration: none;
font-weight: bold;
text-transform: capitalize;
}

nav ul li a:hover{
color: #29c2de;
transform: .4s;
}

.btn-home{
background-color: #29c2de;
color: #fff;
text-decoration: none;
border: 2px solid transparent;
font-weight: bold;
padding: 10px 25px;
border-radius: 30px;
transition: transform .4s;
}

.btn-home:hover{
transform: scale(1.2);
}



footer{
position: relative;
width: 100%;
height: 400px;
background-color: #000;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

footer h6{
font-size: 35px;
color: #fff;
}

footer p{
color: #fff;
font-size: 15px;
width: 500px;
text-align: center;
margin-top: 15px;
letter-spacing: 1px;
line-height: 23px;
}

.Redes-sociais{
display: flex;

}

.Redes-sociais a{
background-color: #000#29c2de;
width: 45px;
height: 45px;
padding: 15px;
border-radius: 50%;
margin: 22px 10px;
color: #aeaeae;
text-decoration: none;
font-size: 20px;
align-items: center;
display: flex;
justify-content: center;
flex-direction: row;
}

.Redes-sociais a:hover{
transform: scale(1.2);
transition: .3s;
}

.end{
position: absolute;
color: #29c2de;
bottom: 35px;
font-size: 14px ;
}





/* css MVRGA */


/*Pagin curso: Valesca*/

.opcoes-cursos{
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    gap: 4rem; 
    margin-left: 11rem;
}
.container-um{
    display: flex;
    flex-direction: row;
    gap:4rem;
    margin-bottom: 2rem;
}
.container-dois{
    display: flex;
    flex-direction: row;
    gap:4rem;
}

/*Configuração dos cards*/
.curso{
    display: flex;
    width: 18rem;
    height: 23rem;
    background:black;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    justify-content:space-evenly;
    box-shadow: 0 0.6rem 1.6rem #66D6FA;
     border: 7px solid #66D6FA;
     transition: all 0.4s;
     cursor: pointer;
     border-radius: 1.5rem;
 }
 .curso:hover{
     -webkit-transform: scale(1.1);
     transform: scale(1.1);
     box-shadow: 0 0.6rem 1.6rem white;   
}

/*Configuração dos títulos*/
main h1{
    font-size: 3rem;
    color: #66D6FA;
    font-weight: bold;
    margin-left: 17rem;
   
}
main h2{
    font-size: 1.5rem;
    color:#66D6FA;
    font-weight: bold
}
/*Configuração dos botões*/
button{
    width: 15rem;
    height: 1.9rem;
    border:none;
    background-color: white;
    box-shadow: 0 0.2rem 0.3rem white; 
    border-radius: 0.7rem;
    font-weight: bold;
    color: #66D6FA;
    margin-bottom: 1rem;
     
}
/*Configuração do tamanho das imagens*/
#img1{
    width: 12rem;
}

#img2{
    width: 10rem;
}
#img3{
    width: 9rem;
}
#img4{
    width: 23rem;
}
#img5{
    width: 8.5rem;
}
#img6{
    width: 7.5rem;
}
/*Configuração do barra lateral de rolagem*/

@media screen and (max-width:599px) {
/*Configuração do body e dos containers */
body{
    display: flex;
    width: 100%;
    align-items: center;
    font-family: Montserrat;
	flex-direction: column;
    justify-content: center;
    margin-top: 9rem;   
    background-color: black;
}
.opcoes-cursos{
    display: flex;
    flex-direction:column;
    justify-content: center;
    gap: 4rem; 
    align-items: center;
}
.container-um{
    display: flex;
    flex-direction: column;
    gap:4rem;
    margin-bottom: 2rem;
}
.container-dois{
    display: flex;
    flex-direction: column;
    gap:4rem;
}
/*Configuração dos cards*/
.curso{
    display: flex;
    width: 18rem;
    height: 23rem;
    background:black;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    justify-content:center;
    box-shadow: 0 0.6rem 1.6rem #66D6FA;
     border: 13px solid #66D6FA;
     transition: all 0.4s;
     cursor: pointer;
     border-radius: 1.5rem;
 }
 .curso:hover{
     -webkit-transform: scale(1.1);
     transform: scale(1.1);
     box-shadow: 0 0.6rem 1.6rem white;   
}
/*Configuração dos títulos*/
h1{
    font-size: 3rem;
    color: #66D6FA;
    font-weight: bold;
    margin-left: 1rem;
    
}
h2{
    font-size: 1.5rem;
    color:#66D6FA;
    font-weight: bold
}
/*Configuração dos botões*/
button{
    width: 15rem;
    height: 1.9rem;
    border:none;
    background-color: white;
    box-shadow: 0 0.2rem 0.3rem white; 
    border-radius: 0.7rem;
    font-weight: bold;
    color: #66D6FA;
    margin-bottom: 1rem;  
}
/*Configuração do tamanho das imagens*/
#img1{
    width: 12rem;
}

#img2{
    width: 10rem;
}
#img3{
    width: 9rem;
}
#img4{
    width: 23rem;
}
#img5{
    width: 8.5rem;
}
#img6{
    width: 7.5rem;
}

}