@import url('https://fonts.googleapis.com/css2? family= Montserrat & display=swap');

* {
    margin: 0;
    padding: 0;
}

/* css mvrga */

::-webkit-scrollbar {
    width: 0.4rem;
    
}

::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 0.3rem;    
}

::-webkit-scrollbar-track {
    background-color: #000;
}

.background-home {
    background-color: #000;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
        
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.logo-home {
    display: flex;
    color: #fff;
    font-size: 35px;
    cursor: pointer;
    letter-spacing: 1px;

}

span {
    color: #29c2de;
}

nav ul  li {
    list-style: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover {
    color: #29c2de;
    transform: .4s;
}

.btn-home {
    background-color: #29c2de;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}

.btn-home:hover {
    transform: scale(1.2);
}

footer {
    position: relative;
    width: 100%;
    height: 400px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -10rem;
}

footer h6 {
    font-size: 35px;
    color: #fff;
}

footer p {
    color: #fff;
    font-size: 15px;
    width: 500px;
    text-align: center;
    margin-top: 15px;
    letter-spacing: 1px;
    line-height: 23px;
}

.Redes-sociais {
    display: flex;
    
}

.Redes-sociais a {
    background-color: #000#29c2de;
    width: 45px;
    height: 45px;
    padding: 15px;
    border-radius: 50%;
    margin: 22px 10px;
    color: #aeaeae;
    text-decoration: none;
    font-size: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.Redes-sociais a:hover {
    transform: scale(1.2);
    transition: .3s;
}

.end {
    position: absolute;
    color: #29c2de;
    bottom: 35px;
    font-size: 14px ;
}

/* css mvrga */

/* dando estilo ao corpo do formulário */

body {
    display: flex;
    align-items: center;
    background-color: #000000;
    font-family: Montserrat;
    flex-direction: row;
    height: 50rem;
}

/* estilo a "caixa" do formulário*/

.box {
    display: flex;
    flex-direction: column;
    width: 30rem;
    height: 35rem;
    gap: 1rem;
    border-radius: 1.5rem;
    justify-content: space-around;
    align-items: center;
    background-color: #000000;
    border-radius: 3rem;
    box-shadow: 0 0.2rem 1.2rem #66D6FA;
    border: 13px solid #66D6FA; 
    padding: 3rem;
}

/* estilo ao título */

.title {
    padding: 1rem;
    font-size: 2rem;
    text-align: center;
    user-select: none;
    color: #66D6FA;
}

/* estilo a fileira */


.row {
    margin-top: -5rem;
    display: flex;
    padding: 10rem; 
    flex-direction: row;
    gap: 20rem;
}

/* estilo a entrada da caixa de entrada */

input {
    border-radius: 10rem;
    border: 0.1rem solid #66D6FA;
    font-size: 1rem;
    background-color: white;
}

/* estilo botão redefinir e cadastrar*/

button {
    border-radius: 10rem;
    background-color: #000000;
    border: 0.1rem solid #66D6FA;
    color: #66D6FA;
    cursor: pointer;
    margin-top: 0rem;
    width: 10rem;
    height: 1.3rem;
}

button:hover {
    background-color: #66D6FA;
    color: #000000;
}

/* estilo imagem */

.imagem {
    width: 20rem;
    height: 20rem;
   margin-right: 10rem;
}

h2 {
    color: white;
    font-size: 1.3rem;
    user-select: none;
    margin-top: 10rem;
}
.container-dois{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* responsividade */

@media  screen and (max-width:599px) {

    ::-webkit-scrollbar {
        width: 0.4rem;
        
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: #000;
        border-radius: 0.3rem;    
    }
    
    ::-webkit-scrollbar-track {
        background-color: #000;
    }
    
    .background-home {
        background-color: #000;
        background-size: cover;
        background-position: center;
        height: 100vh;
        width: 100%;
        padding-top: 5rem;
            
    }
    
    .cabecalho {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    
    }
    
    .logo-home {
        display: flex;
        color: #fff;
        font-size: 35px;
        cursor: pointer;
        letter-spacing: 1px;
        margin-left: 5.9rem;
    }
    
    span {
        color: #29c2de;
    }
    
    nav ul  li {
        list-style: none;
        padding: 7px;
        
    }
    
    nav ul li a {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        text-transform: capitalize;
    }
    
    nav ul li a:hover {
        color: #29c2de;
        transform: .4s;
    }
    
    .btn-home {
        background-color: #29c2de;
        color: #fff;
        text-decoration: none;
        border: 2px solid transparent;
        font-weight: bold;
        padding: 2px;
        border-radius: 30px;
        transition: transform .4s;
    }
    
    .btn-home:hover {
        transform: scale(1.2);
    }
    

.cabeçalho-link {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: red;
}
   

/* dando estilo ao corpo do formulário */

body {
    display: row;
    align-items: center;
    background-color: #000000;
    font-family: Montserrat;
    flex-direction: row;
}

/* estilo a "caixa" do formulário*/

.box {
    display: flex;
    flex-direction: column;
    width: 15rem;
    height: 40rem;
    gap: 1rem;
    border-radius: 1.5rem;
    justify-content: space-around;
    align-items: center;
    background-color: #000000;
    border-radius: 3rem;
    border: 0.1rem solid #66D6FA;
    padding: 2rem;
}

/* estilo ao título */

.title {
    padding: 1rem;
    font-size: 1.3rem;
    text-align: center;
    user-select: none;
    color: #66D6FA;
}

/* estilo a fileira */


.row {
    display: flex;
    padding: 10rem; 
    flex-direction: column;
    margin-left: -8rem;
    gap: 1rem;
}

/* estilo a entrada da caixa de entrada */

input {
    border-radius: 10rem;
    border: 0.1rem solid #66D6FA;
    font-size: 1rem;
    background-color: white;
}

/* estilo botão redefinir e cadastrar*/

button {
    border-radius: 10rem;
    background-color: #000000;
    border: 0.1rem solid #66D6FA;
    color: #66D6FA;
    cursor: pointer;
    margin-top: 0rem;
    width: 10rem;
    height: 1.3rem;
}

button:hover {
    background-color: #66D6FA;
    color: #000000;
}

/* estilo imagem */

.imagem {
    width: 20rem;
    height: 20rem;
}

h2 {
    color: white;
    font-size: 3rem;
    user-select: none;
    margin-top: 10rem;
    margin-left: 5rem;
}
.container-dois{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* footer */

footer {
    position: relative;
    width: 100%;
    height: 200px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer h6 {
    font-size: 25px;
    color: #fff;
}

footer p {
    color: #fff;
    font-size: 15px;
    width: 500px;
    text-align: center;
    margin-top: 15px;
    letter-spacing: 1px;
    line-height: 23px;
}

.Redes-sociais {
    display: flex;
    
}

.Redes-sociais a {
    background-color: #000#29c2de;
    width: 45px;
    height: 45px;
    padding: 15px;
    border-radius: 50%;
    margin: 22px 10px;
    color: #aeaeae;
    text-decoration: none;
    font-size: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.Redes-sociais a:hover {
    transform: scale(1.2);
    transition: .3s;
}

.end {
    position: absolute;
    color: #29c2de;
    bottom: 35px;
    font-size: 8px ;
}

}

